.menuSm {
	list-style:none;
    width:98%;
    margin:0px auto 0px auto;
    padding:0px 20px 0px 20px;
 }

.menuSm a{
	float: left;
	text-align:center;
	position:relative;
	padding: 4px 10px;
	margin-right:10px;
    margin-top:7px;
    border:none;
	font-family:Arial, Helvetica, sans-serif;
    font-size:16px; 
    color: #EEEEEE;
    display:block;
    outline:0;
    text-decoration:none;
    text-shadow: 1px 1px 1px #000;
}

.menuSm a:hover{
    text-decoration: underline; 
	color: #EEEEEE;
}

.navbar-nav > .user-menu > .dropdown-menu {
	display: none; 
	margin:0px auto;  
    float:left;
    position:absolute;
    text-align:left;
    padding:10px 5px 10px 5px;
    border:1px solid #777777;
    border-top:none;
	width: 200px;
	margin-left: 5px;
    margin-right: 5px;
		
	background:#F4F4F4;
    background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
 
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
	
	z-index: 5;    
}

.navbar-nav > .user-menu > .dropdown-menu > li > a{
	color:#015b86;	
	background:#F4F4F4;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow: none;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:190px;
 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.navbar-nav > .user-menu >.dropdown-menu > li> a:hover{
	 text-decoration: underline;
}	

.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}

@media only screen and (max-width: 500px) {
	
	.menuSm {
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
	}
	
	.menuSm a{
		font-size:12px; 
	}
}
